.intro-header {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  padding-top:200px;
}

h1 {
	font-weight: 500;
	font-size: 800%;
	text-shadow: 2px 2px 8px white;
}

h2 {
	font-weight: 500;
	font-size: 500%;
	text-shadow: 2px 2px 8px white;
	text-align: center;
}

.navbar {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
}

body {
	background-color: white;
}

.login-module {
	
}

.form-group label.control-label {
	font-size: 150%;
	text-align: left;
}

.signup-modal {

}

.talent-chkbox {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dropdown-menu .divider {
	background-color: rgba(0,0,0,.1);
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
		z-index: 500;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar-brand{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.navbar-brand.down{
    -ms-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}

.sample_calendar {
	background-image: url('../img/sample_calendar.png');
	background-repeat:no-repeat;
	background-position:center; 
}

.sample_task_manager {
	background-image: url('../img/sample_task.png');
	max-height:100%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar-Discover Styles */
#wrapper-discover {
    padding-left: 0;
}

#wrapper-discover.toggled {
    padding-left: 250px;
}

.sidebar-nav-discover {
		z-index: 500;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-discover li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav-discover li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav-discover li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav-discover li a:active,
.sidebar-nav-discover li a:focus {
    text-decoration: none;
}

.sidebar-nav-discover > .sidebar-brand-discover {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav-discover > .sidebar-brand-discover a {
    color: #999999;
}

.sidebar-nav-discover > .sidebar-brand-discover a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
	#wrapper-discover {
        padding-left: 250px;
    }

    #wrapper-discover.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper-discover {
        width: 250px;
    }
    
    #wrapper-discover.toggled #sidebar-wrapper-discover {
        width: 0;
    }

    #page-content-wrapper-discover {
        padding: 20px;
        position: relative;
    }
    
    #wrapper-discover.toggled #page-content-wrapper-discover {
        position: relative;
        margin-right: 0;
    }
}





